{% load static %} {# defino que se va a utilizar contenido de la carpeta static #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "styles.css" %} > {# uso styles.css que esta en la carpeta static #}
    {% block styles %} {% endblock %} {# estilos #}
    <title>{% block title %}{% endblock %}</title> {# titulo de la pagina #}
</head>
<body>
    {% include "layouts/partials/menu.html" %} 
    {# include layouts/partials/menu.html para cargar el menu en todas las paginas que hereden de base.html #}
    <main>    
        {% block content %} {# inicia el bloque content #}
        {% endblock %}    {# termina el bloque content #}      
    </main>          
    {% include "layouts/partials/footer.html" %}{# incluye un archivo externo llamado footer.html #}
    {% block scripts %} {% endblock %} {# scripts #}
</body>
</html>