<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{name}} </h1>
    <h3>Categorias:</h3>   
    <ul> 
      {% for elemento in categories %} {# recorremos la lista categories que fue creado en la funcion dinamico(views.py) #}
        {% if elemento == 'code'%} {# condicional if para buscar 'code' adentro de la lista #}
            <li><b>{{ elemento|upper }}</b></li> {# muestra en negrita el elemento code #}
        {% else %} {# si no es 'code', lo muestra normal #}
            <li>{{ elemento }}</li>{# muestra todos los elementos de la lista categories que no son igual a 'code' #}
        {% endif %}{# cierra el  condicional if #} 
      {% endfor %} {# cierra el ciclo for despues de recorrer toda la lista #}
      {% comment "" %}
        Este comentario se ignora y no se muestra en pantalla
        es
        multilineas
      {% endcomment %}
      <h4>Total de categorias: {{categories|length}}</h4> {# filtro para contar el total de las categorias #}
    </ul>
</body>
</html>