<nav>
    <ul>
        <li><a href= "{% url 'index' %}">Inicio</a></li>  {# link a index por name definido en urls.py #}                     
        <li><a href= "{% url 'otra' %}">Otra</a></li> {# enlace a otra vista #}        
        <li><a href= "{% url 'herencia' %}">Herencia</a></li>  {# link a herencia por name definido en urls.py #}                     
        <li><a href= "{% url 'otra' %}">Otra</a></li> {# enlace a otra vista #}
        <li><a href= "{% url 'ejemplo' %}">Ejemplo</a></li> {# enlace a ejemplo #}
    </ul>           
</nav>